.angular-google-map-container {
    height: 600px;
    img {
        max-width: none;
        height: auto;
    }
}
.begin {
    margin-top: 2rem;
}
.add-team-form {
    margin-top: 3rem;
}
.tailgate-label {
    background: red;
    color: whitesmoke;
    padding: .25rem;
    border: 1px solid white;
}

.bus-label {
	background: white;
	color: black;
	font-size: 1.5 rem;
	padding: .5rem;
	border: 2px solid black;
	z-index: 1000;
}
//borrowed from google now card css 

.panel {
    box-shadow:0 1px 2px #bbb;
}
